<app-header title="Create movie" subtitle="Add a New Movie to Your Library">
</app-header>

<div class="flex flex-col p-5 sm:p-12">
    <app-image-upload (imagesChange)="onImagesChange($event)" />

    <div class="flex flex-col sm:flex-row mb-4 mt-4 gap-4">
        <div>
            <app-dashboard-input
                [label]="'Title'"
                [type]="'text'"
                [placeholder]="'Enter movie title'"
                [control]="movieForm.controls.title"
                [errorMessages]="{
                required: 'Title is required.',
                maxlength: 'Name must be less than 255 characters.',
            }"
            />
        </div>
        <div class="flex flex-col space-y-4">
            <app-dashboard-input
                [label]="'Duration (minute)'"
                [type]="'number'"
                [placeholder]="'Enter movie duration'"
                [control]="movieForm.controls.duration"
                [errorMessages]="{
                    required: 'Duration is required.',
                    min: 'Duration must be greater than 0.'
                }"
            />
            <p-slider
                [ngModel]="movieForm.controls.duration.value"
                (onChange)="onSliderChange($event)"
                [min]="1"
                [max]="1000"
                [step]="1"
                styleClass="w-14rem"
            />
        </div>
        <div class="ml-auto">
            <ng-container
                *ngIf="indicativeRatings$ | async as indicativeRatings"
            >
                <div class="flex flex-col gap-2">
                    <h3 class="text-sm font-semibold text-gray-700">
                        Indicative Rating
                    </h3>
                    <p-dropdown
                        [options]="indicativeRatings"
                        [optionLabel]="'description'"
                        [optionValue]="'id'"
                        [formControl]="movieForm.controls.indicativeRating"
                        placeholder="Select an Indicative Rating"
                        class="shadow-sm rounded-md border border-gray-300 focus:outline-none focus:ring-gray-800 focus:border-gray-800 w-full"
                    >
                        <ng-template let-item pTemplate="item">
                            <div class="flex items-center gap-2">
                                <img
                                    [src]="item.imageUrl"
                                    [alt]="item.description"
                                    class="w-5 h-5"
                                />
                                <span>{{ item.description }}</span>
                            </div>
                        </ng-template>
                        <!---->
                        <ng-template let-selectedItem pTemplate="selectedItem">
                            <div class="flex items-center gap-2">
                                <img
                                    *ngIf="selectedItem"
                                    [src]="selectedItem.imageUrl"
                                    [alt]="selectedItem.description"
                                    class="w-5 h-5"
                                />
                                <span>{{
                                    selectedItem
                                        ? selectedItem.description
                                        : 'Select an Indicative Rating'
                                }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div
                        *ngIf="
                            movieForm.controls.indicativeRating.invalid &&
                            movieForm.controls.indicativeRating.touched
                        "
                        class="text-red-500 text-sm mt-2"
                    >
                        Please select an indicative rating.
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="w-full flex justify-between">
    <button
        (click)="goBack()"
        class="sm:mt-44 border-2 border-gray-800 hover:bg-gray-200 duration-300 text-black font-semibold py-2 px-16 rounded"
    >
        Go Back
    </button>
    <button
        (click)="onSubmit()"
        class="sm:mt-44 bg-gray-800 hover:bg-gray-700 duration-300 text-white font-semibold py-2 px-16 rounded"
    >
        Create
    </button>
</div>
