<div
    class="flex items-center justify-center w-full"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
>
    <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-200 duration-300"
        [ngClass]="{ 'cursor-not-allowed opacity-50': images.length >= 3 }"
    >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <lucide-icon name="cloud-upload" class="w-12 h-12 text-gray-500" />
            <p class="mb-2 text-sm text-gray-500">
                <span class="font-semibold">Click to upload</span> or drag and
                drop
            </p>
            <p class="text-xs text-gray-500">
                PNG, JPG or JPEG (MAX. 1080x1600 pixels, 5MB)
            </p>
        </div>
        <input
            id="dropzone-file"
            type="file"
            class="hidden"
            (change)="onImageChange($event)"
            [disabled]="images.length >= 3"
            multiple
            accept="image/png, image/jpeg, image/jpg"
        />
    </label>
</div>

<div class="flex flex-wrap items-center justify-center my-4 gap-4">
    <div
        *ngFor="let preview of imagePreviews; let i = index"
        class="flex items-center border-4 rounded-lg p-2 w-80 relative"
    >
        <div
            class="w-20 h-20 flex-shrink-0 border rounded-lg overflow-hidden bg-gray-100 flex items-center justify-center"
        >
            <img
                [src]="preview"
                alt="Image Preview of poster"
                class="w-full h-full object-cover"
                loading="lazy"
            />
        </div>
        <div class="ml-12 flex-grow">
            <h4 class="text-xl font-semibold">Poster {{ i + 1 }}</h4>
        </div>

        <button
            (click)="removeImage(i)"
            class="absolute top-1 right-1 bg-red-600 rounded-full p-1 shadow hover:bg-red-500 duration-300"
        >
            <lucide-icon name="x" class="w-4 h-4 text-white" />
        </button>
    </div>
</div>
